body {
  font-family: 'Liberation Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.primarycolor {
  background-color:lightsteelblue;
}

.marg10vert {
  margin: 10px 0;
}

header {
  display: inline-flex;
  padding: 10px 0;
  justify-content: center;
  display: inline-flex;
  width: 100vw;
}

header img {
  position: absolute;
  left: 20px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100vh;
}

.form {
  align-items: center;
}

main form:first-of-type {
  margin-bottom: 10px;
}

.miniform {
  display: grid;
}

input {
  width: fit-content;
  justify-self: center;
}

footer {
  width: 100vw;
  display: flex;
  height: min-content;
  justify-content: center;
}

footer h5 {
  margin: 10px 0;
}